Repository astrolabsoftware/spark3D, pull requests merged in 2018-05, with the labels that each got.

#12 First working version of Point3D RDD!
  build.sbt
  src/main/scala/com/spark3d/geometryObjects/Point3D.scala
  src/main/scala/com/spark3d/geometryObjects/Shape3D.scala
  src/main/scala/com/spark3d/spatial3DRDD/Point3DRDD.scala
  src/main/scala/com/spark3d/spatial3DRDD/Shape3DRDD.scala
  src/main/scala/com/spark3d/spatialPartitioning/OnionPartitioner.scala
  src/main/scala/com/spark3d/spatialPartitioning/OnionPartitioning.scala
  src/main/scala/com/spark3d/spatialPartitioning/SpatialPartitioner.scala
  src/main/scala/com/spark3d/utils/GridType.scala
  src/main/scala/com/spark3d/utils/Utils.scala
  src/test/resources/astro_obs.fits
  src/test/scala/com/spark3d/geometryObjects/Point3DTest.scala
  src/test/scala/com/spark3d/geometryObjects/Shape3DTest.scala
  src/test/scala/com/spark3d/spatial3DRDD/Point3DRDDTest.scala
  src/test/scala/com/spark3d/spatialPartitioning/OnionPartitionerTest.scala
  src/test/scala/com/spark3d/utils/GridTypeTest.scala
  src/test/scala/com/spark3d/utils/UtilsTest.scala
Labels: 3DRDD

#22 Envelope
  src/main/scala/com/spark3d/geometry/BoxEnvelope.scala
  src/main/scala/com/spark3d/geometry/Envelope.scala
  src/main/scala/com/spark3d/geometry/ShellEnvelope.scala
  src/main/scala/com/spark3d/geometryObjects/Point3D.scala
  src/test/scala/com/spark3d/geometry/BoxEnvelopeTest.scala
  src/test/scala/com/spark3d/geometry/ShellEnvelopeTest.scala
Labels: JTS replacement

#23 Add Envelope/Shell/Box classes + Force Point3D to declare type of data
  examples/jupyter/myOnionFig.png
  examples/jupyter/myOnionFigRaw.png
  examples/jupyter/onion_partitioning.ipynb
  src/main/scala/com/spark3d/geometry/BoxEnvelope.scala
  src/main/scala/com/spark3d/geometry/Envelope.scala
  src/main/scala/com/spark3d/geometry/ShellEnvelope.scala
  src/main/scala/com/spark3d/geometryObjects/Point3D.scala
  src/main/scala/com/spark3d/geometryObjects/Sphere.scala
  src/main/scala/com/spark3d/spatial3DRDD/Point3DRDD.scala
  src/main/scala/com/spark3d/spatial3DRDD/Shape3DRDD.scala
  src/main/scala/com/spark3d/spatialPartitioning/OnionPartitioner.scala
  src/main/scala/com/spark3d/spatialPartitioning/OnionPartitioning.scala
  src/main/scala/com/spark3d/spatialPartitioning/SpatialPartitioner.scala
  src/main/scala/com/spark3d/utils/Utils.scala
  src/test/scala/com/spark3d/geometry/BoxEnvelopeTest.scala
  src/test/scala/com/spark3d/geometry/ShellEnvelopeTest.scala
  src/test/scala/com/spark3d/geometryObjects/Point3DTest.scala
  src/test/scala/com/spark3d/geometryObjects/Shape3DTest.scala
  src/test/scala/com/spark3d/geometryObjects/SphereTest.scala
  src/test/scala/com/spark3d/spatial3DRDD/Point3DRDDTest.scala
  src/test/scala/com/spark3d/spatialPartitioning/OnionPartitionerTest.scala
Labels: 3DRDD, JTS replacement, Partitioning
